VITE_SUPABASE_URL=https://cuzninrdpjnmhvbucvsu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN1em5pbnJkcGpubWh2YnVjdnN1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU4Nzg2ODQsImV4cCI6MjA4MTQ1NDY4NH0.ElTBoWN8aUSgb7hYaaQZ4CFfpFeUwCIP8hfJx778my8
